.form,.result{
 	max-width:100%;
 	flex:1;
 	box-sizing:border-box;	
 	color:black;
 	padding:30px 5%;
 	height:100%;
 	display:flex;
 	flex-direction:column;
 	justify-content:center;
	background-image:url(../assets/rickastley.jpg);
	background-size:cover;
	background-attachment: fixed;
	.img-div{
		width:100%;
		overflow:auto;
		display:flex;
		align-items:flex-start;
		background-color:white;
		height:14vw;
		&__img{
			height:100%;
			width:31%;
			height:100%;
			flex-shrink:0;
			background-position:center;
			background-size:cover;
			display:flex;
			align-items:center;
			&.selected{
				border:2px solid blue;
				height:calc(100% - 5px);
			}
		}
	}
	.select{
		height:auto;
	}
}
@media all and (max-width: 768px){
	.form,.result{
		height:auto;
		width:100%;
		.img-div{
			height:28vw;
		}
	}
}
